{% extends 'home.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container-fluid">
	<h1 class="h3 mb-2 font-weight-bold text-primary">Tambah Product Masuk</h1>
	<div class="card shadow mb-4">
		<div class="card-header py-3">

			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}

				{{ form.non_field_errors }}

				{% for hidden in form.hidden_fields %}
					{{ hidden_field.errors }}
					{{ hidden_field }}
				{% endfor %}

				{% for field in form.visible_fields %}
				<div class="form-group mb-4">
					<label for="{{ field.id_for_label }}">{{ field.label }}</label>
					{% render_field field class="form-control" %}
					{% for error in field.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
				{% endfor %}
				
				<div class="form-group">
					<button type="submit" class="btn btn-outline-primary">Simpan</button>
					<a href="/product_masuk/list/" class="btn btn-outline-secondary">Cancel</a>
				</div>
				
			</form>
		</div>
	</div>
</div>
{% endblock content %}