{% extends 'home.html' %}
{% load static %}

{% block title %}
	{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<div id="sidebar">
				<h3 class="m-0 font-weight-bold text-gray-800">Categories</h3>
				<ul>
					<li {% if not category %}class="selected"{% endif %}>
						<a href="{% url 'building:product_list' %}">All</a>
					</li>
					{% for c in categories %}
						<li {% if category.slug == c.slug %}class="selected"{% endif %}>
							<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div id="main" class="product-list">
				<h1 class="m-0 font-weight-bold text-gray-800">{% if category %}{{ category.name }}{% else %}Products
				{% endif %}</h1>
				{% for product in products %}
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<a href="{{ product.get_absolute_url }}">
									<img class="card-img-top mr-3 " height="200px:" width="200px:" src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}">
								</a>
								<a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
								<br>
								Rp. {{ product.price }}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}